@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: 'FonteDoJogo';
    src: url('./fonts/UpheavalPro.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Jersey 25";
    background: linear-gradient(
        135deg,
        #021108 10%,
        #11301b 50%,
        #080f0b 90%
    );
    color: #e6e6e6;
}

.conteudo{
    flex: 1;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    background-color: black;
    color: aliceblue;
}

.titulo-jogo {
    font-family: "FonteDoJogo";
}

.tittle {
    font-size: 50px;
    text-shadow: 0 0 10px rgba(0, 255, 100, 0.4);
}

.icons {
    display: flex;
    gap: 60px;
}

.icons-menu {
    font-family: 'FonteDoJogo';
    font-size: 20px;
    color: #35f27a;
    transition: color 0.3s, text-shadow 0.3s;
}

.icons-menu:hover {
    color: #d4af37;
    text-shadow: 0 0 5px rgba(212, 175, 55, 0.6);
}

.conteudo {
    flex: 1;
}

.s1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
    justify-content: space-between;
}

.d1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 700px;
}

.tittle2 {
    font-size: 25px;
}

.p1 {
    text-align: justify;
    line-height: 1.7;
    font-size: 17px;
    letter-spacing: 1.5px;
    max-width: 900px;
}

.img1 {
    width: 100%;
    max-width: 600px;
    border-radius: 14px;
    box-shadow: 0px 14px 35px rgb(0, 0, 0, 0.8);
    margin: 20px;
    transition: transform 0.3s ease;
}

.img1:hover {
    transform: scale(1.015);
}

.s2 {
    display: flex;
    align-items: center;
    justify-content: center ;
    padding: 20px;
    width: 100%;
    min-height: 500px;
    background-image: url(./img/banner-jogo.png);
    background-size: cover;
    background-position: 55% center;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: inset 0 0 80px rgba(0, 0, 0, 0.5);
    background-color: #0f1a14;
   
}

.s2::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
}

.d2 {
    position: relative;
    z-index: 1;
    color: white;
    max-width: 450px;
    text-align: center;
    background: rgba(0, 0, 0, 0.45);
    padding: 30px 50px;
    border-radius: 15px;
    transition: transform 0.3s;
}

.d2:hover {
    transform: scale(1.02);
}

.tittle3 {
    font-size: 25px;
    color:#d4af37;
    letter-spacing: 2px;
    text-shadow: 0 0 6px rgba(212, 175, 55, 0.4);
}

.tittle3::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 10px auto;
    background-color: #1faa59;
}

.p2 {
    text-align: center;
    line-height: 1.5;
    font-size: 19px;
    padding: 10px; 
}

.p2:hover {
    transform: scale(1.05);
    transform: transform 0.50s;
}

.p2::before {
    content: "✦ ";
}

.s3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
    justify-content: space-between;
}

.d3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 700px;
}

.tittle4 {
    font-size: 25px;
}

.p3 {
    text-align: justify;
    line-height: 1.7;
    font-size: 19px;
    letter-spacing: 2px;
    max-width: 590px;
}

.img3 {
    width: 100%;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 0 18px 45px rgba(0, 0, 0, 0.9);
    transition: transform 0.3s ease;
}

.img3:hover {
    transform: scale(1.015);
}

.footer-minimal {
    background-color: black;
    padding: 12px 0;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

}

.footer-minimal p {
    font-size: 15px;
    color: #bcbcbc;
    letter-spacing: 1px;
}

.div-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;   
}

main section {
    padding: 100px 0;
}

main section h2::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin-top: 10px;
    background-color: #1faa59;
}

